Repository HPI-de/hpi-cloud, pull requests merged in 2019-10, with the labels that each got.

#33 feat(common, service-myhpi): update to APIs 0.0.10, MyHPI restructuring
  .idea/modules/common/hpi-cloud.common.main.iml
  .idea/modules/common/hpi-cloud.common.test.iml
  .idea/modules/service-common/hpi-cloud.service-common.main.iml
  .idea/modules/service-common/hpi-cloud.service-common.test.iml
  .idea/modules/service-course/hpi-cloud.service-course.main.iml
  .idea/modules/service-course/hpi-cloud.service-course.test.iml
  .idea/modules/service-feedback/hpi-cloud.service-feedback.main.iml
  .idea/modules/service-feedback/hpi-cloud.service-feedback.test.iml
  .idea/modules/service-food-crawler/hpi-cloud.service-food-crawler.main.iml
  .idea/modules/service-food-crawler/hpi-cloud.service-food-crawler.test.iml
  .idea/modules/service-food/hpi-cloud.service-food.main.iml
  .idea/modules/service-food/hpi-cloud.service-food.test.iml
  .idea/modules/service-myhpi/hpi-cloud.service-myhpi.main.iml
  .idea/modules/service-myhpi/hpi-cloud.service-myhpi.test.iml
  .idea/modules/service-news-crawler/hpi-cloud.service-news-crawler.main.iml
  .idea/modules/service-news-crawler/hpi-cloud.service-news-crawler.test.iml
  .idea/modules/service-news/hpi-cloud.service-news.main.iml
  .idea/modules/service-news/hpi-cloud.service-news.test.iml
  common/build.gradle
  common/src/main/kotlin/de/hpi/cloud/common/utils/Collections.kt
  service-course/src/main/kotlin/de/hpi/cloud/course/CourseService.kt
  service-myhpi/src/main/kotlin/de/hpi/cloud/myhpi/MyHpiService.kt
Labels: C: common, C: service-myhpi, P: 5, T: feat

#30 feat(service-crashreporting): implement Crash Reporting service
  .idea/compiler.xml
  .idea/modules.xml
  .idea/modules/service-crashreporting/hpi-cloud.service-crashreporting.iml
  .idea/modules/service-crashreporting/hpi-cloud.service-crashreporting.main.iml
  .idea/modules/service-crashreporting/hpi-cloud.service-crashreporting.test.iml
  common/src/main/kotlin/de/hpi/cloud/common/utils/Kotlin.kt
  common/src/main/kotlin/de/hpi/cloud/common/utils/couchbase/Builder.kt
  common/src/main/kotlin/de/hpi/cloud/common/utils/couchbase/Constants.kt
  service-common/src/main/kotlin/de/hpi/cloud/common/utils/grpc/Status.kt
  service-crashreporting/build.gradle
  service-crashreporting/src/main/kotlin/de/hpi/cloud/crashreporting/CrashReportingService.kt
  settings.gradle
Labels: C: common, C: service-crashreporting, P: 4, T: feat

#40 fix(service-course, service-course-crawler): fixes both
  service-course-crawler/src/main/kotlin/de/hpi/cloud/course/crawler/HpiCourseDetailPageCrawler.kt
  service-course/src/main/kotlin/de/hpi/cloud/course/CourseService.kt
Labels: C: service-course, C: service-course-crawler, P: 5, T: fix

#39 feat(service-runner): create service runner
  service-runner/build.gradle
  service-runner/src/main/kotlin/de/hpi/cloud/runner/CmdService.kt
  service-runner/src/main/kotlin/de/hpi/cloud/runner/Main.kt
  service-runner/src/main/kotlin/de/hpi/cloud/runner/SimpleCmdService.kt
  service-runner/src/main/kotlin/de/hpi/cloud/runner/SimpleRuntimeConfiguration.kt
  service-runner/src/main/kotlin/de/hpi/cloud/runner/utils/LocalDayTime.kt
  settings.gradle
Labels: C: service-runner, T: feat

#41 feat: support multilingual API
  common/src/main/kotlin/de/hpi/cloud/common/utils/couchbase/JsonObject.kt
  common/src/main/kotlin/de/hpi/cloud/common/utils/grpc/Metadata.kt
  service-common/src/main/kotlin/de/hpi/cloud/common/Service.kt
  service-common/src/main/kotlin/de/hpi/cloud/common/utils/I18n.kt
  service-common/src/main/kotlin/de/hpi/cloud/common/utils/protobuf/Image.kt
  service-course/src/main/kotlin/de/hpi/cloud/course/CourseService.kt
  service-food/src/main/kotlin/de/hpi/cloud/food/FoodService.kt
  service-myhpi/src/main/kotlin/de/hpi/cloud/myhpi/MyHpiService.kt
  service-news/src/main/kotlin/de/hpi/cloud/news/NewsService.kt
Labels: P: 5, T: feat

#51 fix(service-food-crawler): ulf support, includes crawler refactor
  common/src/main/kotlin/de/hpi/cloud/common/utils/Collections.kt
  service-food-crawler/src/main/kotlin/de/hpi/cloud/food/crawler/Main.kt
  service-food-crawler/src/main/kotlin/de/hpi/cloud/food/crawler/OpenMensaCrawler.kt
  service-food-crawler/src/main/kotlin/de/hpi/cloud/food/crawler/OpenMensaTypes.kt
  service-food-crawler/src/main/kotlin/de/hpi/cloud/food/crawler/canteens/Griebnitzsee.kt
  service-food-crawler/src/main/kotlin/de/hpi/cloud/food/crawler/canteens/Ulf.kt
Labels: C: common, C: service-food-crawler, P: 5, T: fix, T: refactor
