Repository HPI-de/hpi-cloud, pull requests merged in 2019-08, with the labels that each got.

#2 feat(news): add news service
  build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  service-news/build.gradle
  service-news/src/main/kotlin/de/hpi/cloud/news/NewsService.kt
  settings.gradle
Labels: C: news, P: 5, T: feat

#8 feat(service-myhpi): create MyHPI service
  service-common/src/main/kotlin/de/hpi/cloud/common/Service.kt
  service-common/src/main/kotlin/de/hpi/cloud/common/utils/grpc/Status.kt
  service-myhpi/build.gradle
  service-myhpi/src/main/kotlin/de/hpi/cloud/myhpi/MyHpiService.kt
  settings.gradle
Labels: C: service-myhpi, P: 4, T: feat

#12 feat(service-common, service-course, service-myhpi, service-news): update hpi-cloud-apis
  service-common/build.gradle
  service-common/src/main/kotlin/de/hpi/cloud/common/utils/couchbase/JsonObject.kt
  service-course/src/main/kotlin/de/hpi/cloud/course/CourseService.kt
  service-myhpi/src/main/kotlin/de/hpi/cloud/myhpi/MyHpiService.kt
  service-news/src/main/kotlin/de/hpi/cloud/news/NewsService.kt
Labels: C: service-common, C: service-course, C: service-myhpi, C: service-news, P: 5, T: feat

#13 feat(service-food): create food service
  service-common/src/main/kotlin/de/hpi/cloud/common/utils/couchbase/JsonObject.kt
  service-common/src/main/kotlin/de/hpi/cloud/common/utils/couchbase/N1ql.kt
  service-common/src/main/kotlin/de/hpi/cloud/common/utils/grpc/Builder.kt
  service-course/src/main/kotlin/de/hpi/cloud/course/CourseService.kt
  service-food/build.gradle
  service-food/src/main/kotlin/de/hpi/cloud/food/FoodService.kt
  service-myhpi/src/main/kotlin/de/hpi/cloud/myhpi/MyHpiService.kt
  service-news/src/main/kotlin/de/hpi/cloud/news/NewsService.kt
  settings.gradle
Labels: C: service-food, P: 5, T: feat

#16 feat(service-news-crawler): implement crawler for hpi archive news and press releases
  common/build.gradle
  common/src/main/kotlin/de/hpi/cloud/common/Entity.kt
  common/src/main/kotlin/de/hpi/cloud/common/utils/Collections.kt
  common/src/main/kotlin/de/hpi/cloud/common/utils/couchbase/Bucket.kt
  common/src/main/kotlin/de/hpi/cloud/common/utils/couchbase/Constants.kt
  common/src/main/kotlin/de/hpi/cloud/common/utils/couchbase/CouchbaseCluster.kt
  common/src/main/kotlin/de/hpi/cloud/common/utils/couchbase/I18n.kt
  common/src/main/kotlin/de/hpi/cloud/common/utils/couchbase/JsonObject.kt
  common/src/main/kotlin/de/hpi/cloud/common/utils/couchbase/N1ql.kt
  common/src/main/kotlin/de/hpi/cloud/common/utils/protobuf/Image.kt
  common/src/main/kotlin/de/hpi/cloud/common/utils/protobuf/Timestamp.kt
  service-common/build.gradle
  service-news-crawler/build.gradle
  service-news-crawler/src/main/kotlin/de/hpi/cloud/news/crawler/Article.kt
  service-news-crawler/src/main/kotlin/de/hpi/cloud/news/crawler/ArticleCrawler.kt
  service-news-crawler/src/main/kotlin/de/hpi/cloud/news/crawler/ArticlePreview.kt
  service-news-crawler/src/main/kotlin/de/hpi/cloud/news/crawler/HpiMediaArchive.kt
  service-news-crawler/src/main/kotlin/de/hpi/cloud/news/crawler/HpiMediaArchiveCrawler.kt
  service-news-crawler/src/main/kotlin/de/hpi/cloud/news/crawler/HpiMediaArticleResolver.kt
  service-news-crawler/src/main/kotlin/de/hpi/cloud/news/crawler/Main.kt
  service-news-crawler/src/main/kotlin/de/hpi/cloud/news/crawler/utils/PeriodUtils.kt
  settings.gradle
Labels: C: service-news-crawler, T: feat

#19 fix(common, service-news-crawler): bugfixes for refactored code
  common/src/main/kotlin/de/hpi/cloud/common/utils/couchbase/I18n.kt
  common/src/main/kotlin/de/hpi/cloud/common/utils/protobuf/Image.kt
  service-news-crawler/src/main/kotlin/de/hpi/cloud/news/crawler/Article.kt
  service-news-crawler/src/main/kotlin/de/hpi/cloud/news/crawler/HpiMediaArticleResolver.kt
  service-news-crawler/src/main/kotlin/de/hpi/cloud/news/crawler/Main.kt
Labels: C: common, C: service-news-crawler, T: fix

#20 feat(service-food-crawler): implement food crawler
  common/src/main/kotlin/de/hpi/cloud/common/Entity.kt
  common/src/main/kotlin/de/hpi/cloud/common/utils/protobuf/Currency.kt
  service-food-crawler/build.gradle
  service-food-crawler/src/main/kotlin/de/hpi/cloud/food/crawler/Main.kt
  service-food-crawler/src/main/kotlin/de/hpi/cloud/food/crawler/OpenMensaCrawler.kt
  service-food-crawler/src/main/kotlin/de/hpi/cloud/food/crawler/OpenMensaTypes.kt
  service-food-crawler/src/main/kotlin/de/hpi/cloud/food/crawler/utils/UrlUtils.kt
  service-food/src/main/kotlin/de/hpi/cloud/food/FoodService.kt
  settings.gradle
Labels: C: common, C: service-food-crawler, P: 4, T: feat
