Repository HPI-de/hpi-cloud, pull requests merged in 2020-03, with the labels that each got.

#77 migrate CrashReporting service to new common module
  common/src/main/kotlin/de/hpi/cloud/common/couchbase/ApiDocument.kt
  common/src/main/kotlin/de/hpi/cloud/common/couchbase/Document.kt
  common/src/main/kotlin/de/hpi/cloud/common/entity/Entity.kt
  common/src/main/kotlin/de/hpi/cloud/common/entity/Id.kt
  common/src/main/kotlin/de/hpi/cloud/common/entity/Wrapper.kt
  common/src/main/kotlin/de/hpi/cloud/common/grpc/Status.kt
  service-club/src/main/kotlin/de/hpi/cloud/club/ClubService.kt
  service-crashreporting/Dockerfile
  service-crashreporting/build.gradle
  service-crashreporting/src/main/kotlin/de/hpi/cloud/crashreporting/CrashReportingService.kt
  service-crashreporting/src/main/kotlin/de/hpi/cloud/crashreporting/entities/CrashReport.kt
  service-news/build.gradle
  service-news/src/main/kotlin/de/hpi/cloud/news/NewsService.kt
Labels: C: service-crashreporting, P: 5, T: refactor

#82 refactor(commons): simplify proto serializers and add minor utils
  common/src/main/kotlin/de/hpi/cloud/common/Context.kt
  common/src/main/kotlin/de/hpi/cloud/common/entity/Entity.kt
  common/src/main/kotlin/de/hpi/cloud/common/entity/Id.kt
  common/src/main/kotlin/de/hpi/cloud/common/protobuf/DateTime.kt
  common/src/main/kotlin/de/hpi/cloud/common/serializers/json/LocalDate.kt
  common/src/main/kotlin/de/hpi/cloud/common/serializers/proto/Image.kt
  common/src/main/kotlin/de/hpi/cloud/common/serializers/proto/Instant.kt
  common/src/main/kotlin/de/hpi/cloud/common/serializers/proto/MarkupContent.kt
  common/src/main/kotlin/de/hpi/cloud/common/serializers/proto/Money.kt
  common/src/main/kotlin/de/hpi/cloud/common/types/Image.kt
  common/src/main/kotlin/de/hpi/cloud/common/types/L10n.kt
  common/src/main/kotlin/de/hpi/cloud/common/types/MarkupContent.kt
  common/src/main/kotlin/de/hpi/cloud/common/utils/DateTime.kt
  common/src/main/kotlin/de/hpi/cloud/common/utils/String.kt
Labels: C: common, T: feat, T: refactor

#81 change(service-news-crawler, service-news): integrate service-news-crawler into service-news
  service-news/src/main/kotlin/de/hpi/cloud/news/crawler/ArticleCrawler.kt
  service-news/src/main/kotlin/de/hpi/cloud/news/crawler/ArticlePreview.kt
  service-news/src/main/kotlin/de/hpi/cloud/news/crawler/HpiMediaArchive.kt
  service-news/src/main/kotlin/de/hpi/cloud/news/crawler/HpiMediaArchiveCrawler.kt
  service-news/src/main/kotlin/de/hpi/cloud/news/crawler/HpiMediaArticleResolver.kt
  service-news/src/main/kotlin/de/hpi/cloud/news/crawler/Main.kt
  service-news/src/main/kotlin/de/hpi/cloud/news/crawler/utils/Period.kt
  service-news/src/main/kotlin/de/hpi/cloud/news/entities/Article.kt
  service-news/src/main/kotlin/de/hpi/cloud/news/entities/Category.kt
  service-news/src/main/kotlin/de/hpi/cloud/news/entities/Source.kt
  service-news/src/main/kotlin/de/hpi/cloud/news/entities/Tag.kt
Labels: C: service-news, C: service-news-crawler, T: change, T: fix
